<!doctype html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" class="has-navbar-fixed-top">
<head th:replace="plantilla :: header(~{::title}, ~{::link})">
    <title>Búsqueda Himnario - MonteSanto.cl</title>
    <link rel="stylesheet" href="">
</head>
<body>
<nav th:replace="plantilla :: navbar"></nav>
<section class="section">
    <div class="container content">
        <form method="post" th:action="@{/Cancion/Busqueda}">
            <div class="columns">
                <div class="column">
                    <div class="field">
                        <label for="termino" class="label">Término</label>
                        <div class="control">
                            <input class="input" name="termino" id="termino" />
                        </div>
                    </div>
                </div>
                <div class="column">
                    <div class="field">
                        <label for="etiqueta" class="label">Etiqueta</label>
                        <div class="control is-expanded">
                            <div class="select is-fullwidth">
                                <select name="etiqueta" id="etiqueta">
                                    <option value="">--</option>
                                    <option th:each="etiqueta : ${etiquetas}" th:text="${etiqueta}"></option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="column is-1">
                    <label class="label">&nbsp;</label>
                    <div class="control">
                        <button class="button is-success" type="submit">Buscar</button>
                    </div>
                </div>
            </div>
        </form>
        <div class="table-container">
            <table class="table is-fullwidth">
                <thead>
                <tr>
                    <th>Nº</th>
                    <th>Titulo</th>
                </tr>
                </thead>
                <tbody>

                </tbody>
            </table>
        </div>
    </div>
</section>
<div th:replace="plantilla :: footer(~{::script})">
    <script type="text/javascript" th:src="@{/js/app.js}"></script>
</div>
</body>
</html>