<!doctype html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head th:replace="plantilla :: header(~{::title}, ~{::link})">
    <title>Búsqueda Himnario - MonteSanto.cl</title>
    <link rel="stylesheet" href="">
</head>
<body>
<section class="section">
    <div class="container content">
        <form method="post" th:action="@{/Cancion/Busqueda}">
            <div class="field">
                <label for="termino" class="label">Término</label>
                <div class="control">
                    <input class="input" name="termino" id="termino" />
                </div>
            </div>
            <button class="button is-success" type="submit">Buscar</button>
        </form>
        <div class="table-container">
            <table class="table is-fullwidth">
                <thead>
                <tr>
                    <th>Nº</th>
                    <th>Titulo</th>
                </tr>
                </thead>
                <tbody>

                </tbody>
            </table>
        </div>
    </div>
</section>
<div th:replace="plantilla :: footer"></div>
</body>
</html>