<!doctype html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head th:replace="plantilla :: header(~{::title}, ~{::link})">
    <title th:text="${cancion.getTitulo()} + ' - MonteSanto.cl'"></title>
    <link rel="stylesheet" href="">
</head>
<body>
<section class="section">
    <div class="container content">
        <nav class="level">
            <div class="level-left">
                <div class="level-item">
                    <p class="title" th:text="${cancion.getTitulo()}"></p>
                </div>
            </div>
            <div class="level-right">
                <p class="level-item">
                    <a class="button is-info" th:href="@{/Himnario}" target="_self">Volver</a>
                </p>
            </div>
        </nav>
        <h1 class="title" ></h1>
        <div th:utext="${cancion.getTextoSaltos()}"></div>
    </div>
</section>
<div th:replace="plantilla :: footer"></div>
</body>
</html>