<!doctype html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" class="has-navbar-fixed-top">
<head th:replace="plantilla :: header(~{::title}, ~{::link})">
    <title th:text="'Editar: ' + ${formData.getTitulo()} + ' - MonteSanto.cl'"></title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@creativebulma/bulma-tagsinput@1.0.3/dist/css/bulma-tagsinput.min.css" />
</head>
<body>
<nav th:replace="plantilla :: navbar"></nav>
<section class="section">
    <div class="container content">
        <h1 class="title" th:text="'Editar: ' + ${formData.getTitulo()}"></h1>
        <form th:action="@{|/Cancion/${id}|}" th:method="PUT" th:object="${formData}">
            <input type="hidden" class="input" th:value="${id}" name="id" />
            <div class="columns">
                <div class="column">
                    <div class="field">
                        <label for="titulo" class="label">Titulo</label>
                        <div class="control">
                            <input class="input" id="titulo" name="titulo" th:field="*{titulo}" />
                        </div>
                        <p th:if="${#fields.hasErrors('titulo')}" class="help is-danger"
                           th:text="${#strings.listJoin(#fields.errors('titulo'), ', ')}"></p>
                    </div>
                </div>
                <div class="column is-2">
                    <div class="field">
                        <label th:for="numero" class="label">Número</label>
                        <div class="control">
                            <input type="number" class="input" th:id="numero" th:name="numero" th:value="${formData.getNumero()}" />
                        </div>
                        <p th:if="${#fields.hasErrors('numero')}" class="help is-danger"
                           th:text="${#strings.listJoin(#fields.errors('numero'), ', ')}"></p>
                    </div>
                </div>
                <div class="column is-2">
                    <div class="field">
                        <label for="pagina" class="label">Página</label>
                        <div class="control">
                            <input type="number" class="input" id="pagina" name="pagina" th:field="*{pagina}" />
                        </div>
                        <p th:if="${#fields.hasErrors('pagina')}" class="help is-danger"
                           th:text="${#strings.listJoin(#fields.errors('pagina'), ', ')}"></p>
                    </div>
                </div>
            </div>
            <div class="columns">
                <div class="column">
                    <div class="field">
                        <label for="texto" class="label">Texto</label>
                        <div class="control">
                            <textarea name="texto" id="texto" class="textarea" th:field="*{texto}"></textarea>
                        </div>
                        <p th:if="${#fields.hasErrors('texto')}" class="help is-danger"
                           th:text="${#strings.listJoin(#fields.errors('texto'), ', ')}"></p>
                    </div>
                </div>
            </div>
            <button class="button is-success" type="submit">Actualizar</button>
        </form>
        <h1 class="title is-5">Etiquetas (terminar con ,)</h1>
        <form th:method="PUT" th:action="@{|/Cancion/Etiquetas/${id}|}">
            <div class="columns">
                <div class="column">
                    <div class="field has-addons">
                        <div class="control">
                            <input class="input" type="tags" th:value="${etiquetas}" placeholder="Escribir etiquetas"
                                   name="etiquetas" />
                        </div>
                        <div class="control">
                            <a class="button is-info">
                                <button class="button is-info" type="submit">Agregar</button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</section>
<div th:replace="plantilla :: footer(~{::script})">
    <script src="https://cdn.jsdelivr.net/npm/@creativebulma/bulma-tagsinput@1.0.3/dist/js/bulma-tagsinput.min.js"></script>
    <script type="text/javascript">document.addEventListener('DOMContentLoaded', () => { let tagsinput = BulmaTagsInput.attach('[type="tags"]'); }); </script>
</div>
</body>
</html>