<!doctype html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" class="has-navbar-fixed-top">
<head th:replace="plantilla :: header(~{::title}, ~{::link})">
    <title th:text="${Articulo.getTitulo()} + ' - MonteSanto.cl'"></title>
    <link rel="stylesheet" href="">
</head>
<body>
<nav th:replace="plantilla :: navbar"></nav>
<section class="section">
    <div class="container content">
        <nav class="level">
            <div class="level-left">
                <div class="level-item">
                    <p class="title" th:text="${Articulo.getTitulo()}"></p>
                </div>
            </div>
            <div class="level-right">
                <div class="level-item">
                    <a th:href="@{/Articulos}" class="button is-primary">Ir a Inicio</a>
                </div>
            </div>
        </nav>
        <div th:utext="${Articulo.getTextoSaltos()}"></div>
    </div>
</section>
<div th:replace="plantilla :: footer(~{::script})">
    <script type="text/javascript" th:src="@{/js/app.js}"></script>
</div>
</body>
</html>