<!doctype html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" class="has-navbar-fixed-top">
<head th:replace="plantilla :: header(~{::title}, ~{::link})">
    <title>Inicio - MonteSanto.cl</title>
    <link rel="stylesheet" th:href="@{/css/hero.css}">
</head>
<body>
<nav th:replace="plantilla :: navbar"></nav>
<section class="section">
    <div class="container content">
        <h1 class="title is-2">Búsqueda en Biblia</h1>
        <form method="post" th:action="@{/Biblia/Busqueda}">
            <div class="columns">
                <div class="column">
                    <div class="field">
                        <label for="termino" class="label">Término</label>
                        <div class="control">
                            <input class="input" name="termino" id="termino" />
                        </div>
                    </div>
                </div>
                <div class="column is-1">
                    <label class="label">&nbsp;</label>
                    <div class="control">
                        <button class="button is-success" type="submit">Buscar</button>
                    </div>
                </div>
            </div>
        </form>
        <div class="div-container">
            <table class="table is-fullwidth is-narrow">
                <thead>
                <tr>
                    <th>Libro</th>
                    <th>Capítulo</th>
                    <th>Versículo</th>
                    <th>Texto</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="versiculo : ${Versiculos}">
                    <td>
                        <a th:href="@{/Libro/{id}(id=${versiculo.getLibro()})}" target="_self"
                           th:text="${versiculo.libroModel.getNombre()}"></a>
                    </td>
                    <td>
                        <a th:href="@{/Libro/{id}/Capitulo/{capitulo}(id=${versiculo.getLibro()},capitulo=${versiculo.getCapitulo()})}"
                           th:text="${versiculo.getCapitulo()}"></a>
                    </td>
                    <td th:text="${versiculo.getVersiculo()}"></td>
                    <td th:text="${versiculo.getTexto()}"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>
<div th:replace="plantilla :: footer(~{::script})">
    <script></script>
</div>
</body>
</html>