<!doctype html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" class="has-navbar-fixed-top">
<head th:replace="plantilla :: header(~{::title}, ~{::link})">
    <title th:text="${Libro.getNombre()} + ' Cap. ' + ${Numero} + ' - MonteSanto.cl'"></title>
    <link rel="stylesheet" href="">
</head>
<body>
<nav th:replace="plantilla :: navbar"></nav>
<section class="section">
    <div class="container content">
        <nav class="level">
            <div class="level-left">
                <div class="level-item">
                    <p class="title" th:text="'Libro de ' + ${Libro.getNombre()} + ' Cap. ' + ${Numero}"></p>
                </div>
            </div>
            <div class="level-right">
                <div class="level-item">
                    <a class="button is-info" th:href="@{/Libro/{id}/Capitulos(id=${Libro.getId()})}" target="_self">Volver a Libro</a>
                </div>
            </div>
        </nav>
        <div class="table-container">
            <table class="table">
                <tr th:each="versiculo : ${Capitulo}">
                    <td th:text="${versiculo.getVersiculo()}"></td>
                    <td th:text="${versiculo.getTexto()}"></td>
                </tr>
            </table>
        </div>
    </div>
</section>
<div th:replace="plantilla :: footer(~{::script})">
    <script type="text/javascript" th:src="@{/js/app.js}"></script>
</div>
</body>
</html>