<!doctype html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head th:replace="plantilla :: header(~{::title}, ~{::link})">
    <title>Inicio - MonteSanto.cl</title>
    <link rel="stylesheet" th:href="@{/css/hero.css}">
</head>
<body>
<section class="section">
    <div class="container content">
        <h1 class="title">Inicio</h1>
        <div class="columns features">
            <div class="column is-3">
                <a th:href="@{/Himnario}">
                    <div class="card is-shady">
                        <div class="card-image has-text-centered">
                            <i class="fas fa-music"></i>
                        </div>
                        <div class="card-content">
                            <div class="content">
                                <h4>Himnario</h4>
                                <p></p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="column is-3">
                <div class="card is-shady">
                    <div class="card-image has-text-centered">
                        <i class="far fa-calendar-alt"></i>
                    </div>
                    <div class="card-content">
                        <div class="content">
                            <h4>Calendario Actividades</h4>
                            <p></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="column is-3">
                <a th:href="@{/Articulos}">
                    <div class="card is-shady">
                        <div class="card-image has-text-centered">
                            <i class="fas fa-book-reader"></i>
                        </div>
                        <div class="card-content">
                            <div class="content">
                                <h4>Devocionales y Estudios</h4>
                                <p></p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="column is-3">
                <div class="card is-shady">
                    <div class="card-image has-text-centered">
                        <i class="fas fa-bible"></i>
                    </div>
                    <div class="card-content">
                        <div class="content">
                            <h4>Biblia Online</h4>
                            <p></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div th:replace="plantilla :: footer(~{::script})">
    <script></script>
</div>
</body>
</html>