<!doctype html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head th:replace="plantilla :: header(~{::title}, ~{::link})">
    <title>No encuentro la canción... - MonteSanto.cl'</title>
    <link rel="stylesheet" href="">
</head>
<body>
    <section class="section">
        <div class="container content">
            <h1 class="title">No encuentro el contenido ...</h1>
            <a th:href="@{/}" class="button is-primary">Ir a Inicio</a>
        </div>
    </section>
    <div th:replace="plantilla :: footer(~{::script})">
        <script></script>
    </div>
</body>
</html>